<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Form Registration</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    
  </head>
  <body>
    <h1>Form Registration:</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form class="" action="registration" method="post">
      First Name: <input type="text" name="first_name">
      Last Name: <input type="text" name="last_name">
      E-mail:<input type="text" name="email">
      Password: <input type="password" name="password">
      Comfirm Password: <input type="password" name="c_password">
      <input type="submit"  value="submit">
    </form>
  </body>
</html>
