/* *{
    margin:0;
    padding:0;
} */
.wrapper {
    width:960px;
    height:760px;
    margin:10px auto;
    padding:5px auto;
    /* background-color: red; */
}
.upper{
    height:60px;

}
h1{
    display: inline-block;
    width:400px;
}
.upper a{
    margin-top:28px;
    float: right;
    font-size: 120%;
    /* float: right; */
}
.left{
    border:2px solid black;
    display: inline-block;
    width:300px;
    height:500px;
    position:relative;
    top:-11px;
    right:-58px;
    /* box-sizing: border-box; */
    padding:10px 10px;
    overflow: scroll;
}
.upper_right{
    width:300px;
    height:350px;
    display: inline-block;
    position:relative;
    top:-213px;
    right:-270px;
    overflow: scroll;
    box-sizing: border-box;
}
.left h2{
    margin-bottom: 0;
}
ul{

    list-style-type: none;
}
.left ul{

    margin-top: 0;

    padding: 8px 15px;

}
li{

    text-align: center;
    width:195px;
    height:85px;
    border:1px solid black;
    margin: 10px auto;
}
.lower_right{
    position: relative;
    top:-59px;
    right:-34px;
    float: right;
    width:400px;
}
.lower_right label,input,textarea{
    display: block;
}

.left i{
    text-align: left;
    display: block;
    font-size: 50%;
    position: relative;
    top:33px;
    right:-5px;
}
.add_list{
    float: right;
    margin-top: 13px;
    margin-right: 5px;
    width:81px;

}

.remove_list{
    float: right;
    margin-top: 32px;
    margin-right: 4px;
}
.upper_right li{
    width: 230px;
    text-align: center;
}
.upper_right i{
    position: relative;
    top:33px;
    right:-5px;
    text-align: left;
    display: block;
    font-size: 50%;
}
span{
    color:red;
}
.individual{
    list-style-type: none;
    border:false;
}
