<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Check-out!</title>
    </head>
    <body>
        <div class="wrapper">
            <h2>Thank you for your business !</h2>
            <p>we charged your credit card for {{request.session.bill}}</p>
            <p> You have ordered {{request.session.total_quantity}} items so far and spent {{request.session.total_bill}} with Amadon.com!</p>
            <a href="/amadon">Go Back</a>
            <a href="/amadon/clear">Clear Purchase History</a>
        </div>

    </body>

</html>
