*{
  padding:0;
  margin:0;
}
.wrapper{
  width: 700px;
  margin:20px auto;

}
input{
  margin-top: 5px;
  display: block;
}
textarea{
  margin-top: 5px;
  display: block;
}
label{
  margin-bottom: 10px;
  display: block;
}
input[type = submit]{
  width: 60px;
  height:20px;
  background-color:green;
  box-shadow: 3px 2px black;
}
h2{
  margin-top: 30px;
}
table{
  margin-top:20px;
}
table,th{
  border: 2px solid black;
  border-collapse: collapse;
}
th{
  border-bottom: none;
}
td{
  border-right: 2px solid black;
}
th{
  width:200px;
}
tr{
  height:30px;
  text-align: center;
}
tbody tr:nth-child(2n-1){
  background-color: lightgrey;
}
button{
  margin-top: 20px;
  box-shadow: 2px 3px black;
}
.yes{
  background-color: #c70039;
  width:180px;
  height:25px;
  margin-left: 50px;
}
p{
  margin-top: 20px;
  line-height:  10px;
}
