<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ajax test</title>
        <script src="https://code.jquery.com/jquery-3.2.1.js"
          integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
          crossorigin="anonymous">
        </script>
        <script type="text/javascript">


              //
              $(document).ready(function(){
                  $(".button").click(function(){
                      console.log("button is clicked")
                  });
                  $('.test_form').submit(function(e){
                     e.preventDefault();
                    });
                 $("input[name='name']").keyup(function(){

                     $.ajax({
                         url:'/find',
                         method: 'post',
                         data:{
                             name: $(this).val(),
                             csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                         },
                         success:function(response){
                             $("textarea[name='display']").append("<p>"+response.name+"</p>")
                             console.log(response)
                         }

                     });

                 });
              });


      </script>
    </head>
    <body>
        <div class="container-fluid">
            <h1>Demo 2 - Ajax Form</h1>
            <form class="test_form" action="/find" method="post">
            {% csrf_token %}
                <label>
                    Find all users whose name starts with
                    <input type="text" name="name">
                </label>
            </form>
            <textarea name="display" rows="4" cols="30">place holder for Ajax Form</textarea>
            <button type="button" name="button" class="button">Test</button>
        </div>
    </body>
</html>
