<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add book and reviews</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="upper">
                <a href="books">Home</a>
                <a href="/home">logout</a>
            </div>
            <div class="main">
                <h3><strong>Add a new book title and a review :</strong></h3>
                <form class="" action="/books/add/process" method="post">
                    {% csrf_token %}
                    <label>
                        Book Title: <input type="text" name="title">
                    </label>
                    <label>Author</label>
                    <ul>
                        <li>Choose from the list:
                            <select class="" name="author_name">
                                {% for author in authors %}
                                    <option value="{{author.name}}">{{author.name}}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>
                            Or add a new author: <input type="text" name="author_name">
                        </li>
                    </ul>
                    <label>Review :</label>
                    <textarea name="review" rows="4" cols="80"></textarea>
                    <label>Rating:</label>
                    <select class="" name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <p class = "star ">stars</p>
                    <input type="submit" name="submit" value="Add Book and Reviews">
                </form>
            </div>
        </div>
    </body>
</html>
