<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login & Registration | Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'first_app/css/style.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <h1>Registration</h1>
      <form class="" action="/registration" method="post">
        {% csrf_token %}
        <label>
          First Name: <input type="text" name="first_name">
        </label>
        <label>
          Last Name: <input type="text" name="last_name">
        </label>
        <label>
          Email: <input type="text" name="email">
        </label>
        <label>
          Password: <input type="password" name="password">
        </label>
        <label>
          Confirm Passwrod: <input type="password" name="con_password">
        </label>
        <input type="submit" name="submit" value="Register">
      </form>
      <ul>
        {% if messages %}
          {% for message in messages %}
            <li>{{message}}</li>
          {% endfor %}
        {% endif %}
      </ul>
      <h1>Login</h1>
      <form class="" action="/login" method="post">
        {% csrf_token %}
        <label>
          Email: <input type="text" name="email">
        </label>
        <label>
          Password: <input type="password" name="password">
        </label>
        <input type="submit" name="submit" value="Login">
      </form>
    </div>
  </body>
</html>
