<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User Information</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="upper">
                <a href="#"><b>Test APP</b></a>
                <a href="#">Home</a>
                <a href="/signin">Log off</a>
            </div>
            <div class="info">
                <h4>{{user.first_name}} {{user.last_name}}</h4>
                <p>Registered at       {{user.created_at}}</p>
                <p>User ID             # {{user.id}}</p>
                <p>E-mail address      {{user.email}}</p>
                <p>Descritpion         {{user.desc}}</p>
            </div>
            <div class="post">
                <h2>Leave a message for {{user.first_name}}</h2>
                <form class="" action="/user/post" method="post">
                    {% csrf_token %}
                     <textarea name="post" rows="8" cols="80"></textarea>
                     <input type="hidden" name="user_id" value="{{user.id}}">
                     <input type="submit" name="submit" value="POST">
                </form>
                <ul>
                    {% for post in posts %}
                        <li>
                            {{post.content}}
                            <ul>
                                {% for comment in comments %}
                                    {% if comment.%}
                                <li></li>
                                {% endfor %}
                            </ul>
                            <form class="" action="user/message" method="post">
                                {% csrf_token %}
                                <textarea name="message" rows="8" cols="80"></textarea>
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input type="submit" name="submit" value="POST">
                            </form>
                        </li>
                    {% endfor %}
                </ul>


            </div>

        </div>

    </body>
</html>
